.NewsList {
  display: flex;
  flex-direction: row;
  margin: 0 -20px;
  flex-wrap: wrap;
}

#load-more-btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: grey solid 1px;
  cursor: pointer;
}
