@import '../../mixins';


@include for-web {
  .news-list {
    margin: 0 -20px;
  }

  #load-more-btn {
    width: 100%;
    margin-bottom: 75px;
  }
}

@include for-mobile {
  #load-more-btn {
    margin: 10px 5px;
    width: calc(100% - 10px);
  }
}

.news-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#load-more-btn {
  font-size: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 15px 0;
  border-radius: 8px;
  border: grey solid 1px;
  cursor: pointer;
}

