@import '../../../mixins';
@import '../../../constant';

@include for-web {
  .news {
    width: 33.33%;
    min-width: 33.33%;
    margin-bottom: 45px;
    .news-inner {
      padding: 0 10px 15px 10px;
      margin: 0 20px;
      border-width: 1px;

      .news-title {
        width: 100%;
      }
      .news-content {
        margin: 10px 0;
      }
    }
  }
}

@include for-mobile {
  .news {
    width: 100%;
    min-width: 100%;
    .news-inner {
      border-width: 1px 0;
      padding: 8px 10px 10px 10px;
      position: relative;

      .news-title, .news-content, .news-history {
        margin-left: 40%;
      }

      .news-image {
        position: absolute;
        top: 8px;
        width: calc(40% - 20px);
      }
    }
  }
}

.news {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  .news-inner {
    border-color: grey;
    background-color: #ffffff;
    border-style: solid;
    width: 100%;
    .news-title {
      color: $navbar-menu-item-hover-bg-color;
      font-weight: bold;
      padding: 20px 0;
      text-align: left;
    }
    .news-image {
      box-sizing: border-box;
      background: #dbdbdb;
      height: 160px;
      max-height: 160px;

      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .news-content {
      height: 200px;
      max-height: 200px;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .news-history {
      text-align: left;
      color: lightslategrey;
    }
  }
}

