@import '../../../assets/styles/mixins';
@import '../../../assets/styles/constant';

@include for-web {
  .news {
    width: 33.33%;
    min-width: 33.33%;
    margin-bottom: 45px;
    .news-inner {
      padding: 0 10px 15px 10px;
      margin: 0 20px;
      border-width: 1px;

      .news-title {
        padding: 20px 0;
        width: 100%;
      }
      .news-content {
        height: 200px;
        max-height: 200px;
        margin: 10px 0;
      }
      .news-image {
        height: 160px;
        img {
          width: 100%;
        }
      }
    }
  }
}

@include for-mobile {
  .news {
    width: 100%;
    min-width: 100%;
    .news-inner {
      border-width: 1px 0;
      padding: 8px 10px 10px 10px;
      position: relative;

      .news-title, .news-content, .news-history {
        padding-left: 10px;
        padding-right: 0;
        margin-left: 40%;
      }

      .news-image {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 8px;
        padding-left: 10px;
        width: 40%;
        max-height: calc(100% - 20px);
        overflow: hidden;
      }
      .news-title {
        padding: 20px 10px 10px 10px;
      }
      .news-history {
        padding-top: 10px;
      }
    }
  }
}

.news {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  .news-inner {
    border-color: $default-border-color;
    background-color: #ffffff;
    border-style: solid;
    width: 100%;
    .news-title {
      color: $navbar-menu-item-hover-bg-color;
      font-weight: bold;
      text-align: left;
    }
    .news-image {
      box-sizing: border-box;
      background: transparent;
      max-height: 160px;
      margin: auto;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .news-content {
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .news-history {
      text-align: left;
      color: #568d99;
    }
  }
}

