@import '../../mixins';
@import '../../constant';

@include for-web {
  .navbar {
    height: 120px;
    padding: 0 20px;
    align-items: stretch;
    display: flex;

    .navbar-header {
      .app-name {
        display: none;
      }

      .navbar-toggle {
        display: none;
      }

      .logo-container {

        img {
          max-width: 120px;
          max-height: 120px;
        }
      }
    }

    #menu-container {
      margin-left: 80px;
      display: flex;
      flex-grow: 0;
      .navbar-menu {
        display: flex;
        flex-grow: 0;
        height: 50px;
      }
    }
  }
}

@include for-mobile {
  .navbar {
    height: 110px !important;
    background-color: $navbar-menu-bg-color;

    .navbar-header {
      position: relative;

      .navbar-toggle {
        position: relative;
        float: right;
        cursor: pointer;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: transparent;
        box-shadow: none;
        background-image: none;
        border: none;
        //border: 1px solid transparent;
        padding: 0;
        border-radius: 0;
        height: 30px;
        width: 30px;

        &:not(.active) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .close-icon {
          display: none;
        }

        .icon {
          display: flex;
          height: 4px;
          width: 30px;
          min-width: 100%;
          background-color: white;

          &:first-child {
            top: 0px;
            margin-top: 0px;
          }

          &:not(:first-child) {
          }
        }

        &:focus {
          outline: none;
        }

        &::-moz-focus-inner {
          border: 0;
        }

        &:hover {
          //background: #ffffff;
          //border: #ffffff solid 1px;
          .icon {
            background-color: $navbar-menu-item-hover-bg-color;
          }
        }

        &.active {
          border: #ffffff solid 1px;

          .icon {
            display: none;
          }

          .close-icon {
            font-size: 26px;
            color: #ffffff;
            display: inline-block;
          }
        }
      }

      .logo-container {
        float: left;
        margin: 5px 5px 5px 18px;
        width: 50px !important;
        height: 50px !important;

        img {
          max-width: 50px;
          max-height: 50px;
        }
      }

      .app-name {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 30px;
      }
    }
  }

  #menu-container {
    border-top: grey solid 1px;
    background-color: $navbar-menu-item-bg-color;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 5;
    -webkit-box-shadow: 0 4px 3px rgba(0,0,0,.5);
    box-shadow: 0 4px 3px rgba(0,0,0,.5);
  }

  .navbar-header {
    height: 60px;
  }

  #menu-container.expanded {
    display: block;
  }
}



.navbar {
  .logo-container {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
    background-color: white;
    img {
      width: 120px;
      width: 120px;
    }
  }
  #menu-container {
    justify-content: start;
    align-items: center;
  }

  .search-box-container {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .navbar-menu {
    background-color: $navbar-menu-bg-color;
    color: white;

    .navbar-item {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 1px;
      background-color: $navbar-menu-item-bg-color;
      padding: 10px 30px;
      cursor: pointer;
      &:hover {
        background-color: $navbar-menu-item-hover-bg-color;
      }
    }
  }
}






