@import '../../mixins';
@import '../../constant';

@include for-web {
  .navbar {
    height: 120px;
    padding: 0 20px;
    align-items: stretch;
    display: flex;
    .navbar-toggle {
      display: none;
    }
    #menu-container {
      margin-left: 80px;
      display: flex;
      flex-grow: 0;
      .navbar-menu {
        display: flex;
        flex-grow: 0;
        height: 50px;
      }
    }
    .logo-container {

      img {
        max-width: 120px;
        max-height: 120px;
      }
    }
  }
}

@include for-mobile {
  .navbar {
    height: 110px !important;
    background-color: $navbar-menu-bg-color;
  }

  .navbar .logo-container {
    float: left;
    margin: 5px 5px 5px 18px;
    width: 50px !important;
    height: 50px !important;
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  #menu-container {
    border-top: grey solid 1px;
    background-color: $navbar-menu-item-bg-color;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 5;
  }

  .navbar-header {
    height: 60px;
  }

  #menu-container.expanded {
    display: block;
  }
}



.navbar {
  .logo-container {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    padding: 0;
    vertical-align: middle;
    border-radius: 50%;
    background-color: white;
    img {
      width: 120px;
      width: 120px;
    }
  }
  #menu-container {
    justify-content: start;
    align-items: center;
  }

  .search-box-container {
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .navbar-toggle {
    position: relative;
    float: right;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
    /*background-color: transparent;*/
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 30px;
    width: 30px;
  }

  .navbar-menu {
    background-color: $navbar-menu-bg-color;
    color: white;

    .navbar-item {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 1px;
      background-color: $navbar-menu-item-bg-color;
      padding: 10px 30px;
      cursor: pointer;
      &:hover {
        background-color: $navbar-menu-item-hover-bg-color;
      }
    }
  }
}






