@import '../../assets/styles/mixins';
@import '../../assets/styles/constant';

.app {
  text-align: center;
  margin: auto;
  height: 100%;

  .app-logo {
    height: 40vmin;
  }

  .app-content {
    box-sizing: border-box;
    padding: 20px 20px 72px 20px;
    height: 100%;
  }

  .app-footer {
    background-color: #ffffff;
    box-sizing: border-box;
    position: absolute;
    border-top: $default-border-color solid 1px;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 25px 20px 25px 36px;

    .menu {
      font-weight: bold;
      height: 100%;
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;

      .menu-item {
        color: $navbar-menu-item-bg-color;
        padding-right: 15px;

        &:hover {
          cursor: pointer;
          color: $navbar-menu-item-hover-bg-color;
        }

        &:not(:first-child) {
          padding-left: 15px;
          border-left: $default-border-color solid 1px;
        }
      }
    }
    .copy-right {
      color: lightslategrey;
      height: 100%;
      display: flex;
      flex-grow: 0;
      justify-content: flex-end;
    }
  }
}

@include for-web {
}

@include for-mobile {
  .app {
    .app-content {
      padding: 0;
    }
    .app-footer {
      display: none;
    }
  }
}


.no-padding {
  padding: 0 !important;
}

.hide {
  display: none
}
