@import './mixins';

.app {
  text-align: center;
  margin: auto;
  height: 100%;
  background-color: #dbdbdb;

  .app-logo {
    height: 40vmin;
  }

  .app-content {
    box-sizing: border-box;
    padding: 20px 20px 75px 20px;
    height: 100%;
  }

  .app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
}

@include for-web {
  .app {
    background-color: #dbdbdb;
  }
}

@include for-mobile {
  .app {
    .app-content {
      padding: 0;
    }
    .app-footer {
      display: none;
    }
  }
}


.no-padding {
  padding: 0 !important;
}


