$app-bg-color: #dedede;
$navbar-menu-bg-color: #007b7c;
$navbar-menu-item-bg-color: #009697;
$navbar-menu-item-hover-bg-color: #00adae;
$default-border-color: #b7b7b7;

$mobileMaxWidth: 1023px;
$webMinWidth: 1024px;
